<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TrangChu</servlet-name>
        <servlet-class>Controller.TrangChu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SanPham</servlet-name>
        <servlet-class>Controller.SanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpLoadFile</servlet-name>
        <servlet-class>Controller.UpLoadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChiTietSanPham</servlet-name>
        <servlet-class>Controller.ChiTietSanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XemDanhMuc</servlet-name>
        <servlet-class>Controller.XemDanhMuc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XemNhaSanXuat</servlet-name>
        <servlet-class>Controller.XemNhaSanXuat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XemGiaTien</servlet-name>
        <servlet-class>Controller.XemGiaTien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimKiem</servlet-name>
        <servlet-class>Controller.TimKiem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhanTrang</servlet-name>
        <servlet-class>Controller.PhanTrang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhanTrangDanhMuc</servlet-name>
        <servlet-class>Controller.PhanTrangDanhMuc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhanTrangNhaSanXuat</servlet-name>
        <servlet-class>Controller.PhanTrangNhaSanXuat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhanTrangGiaTien</servlet-name>
        <servlet-class>Controller.PhanTrangGiaTien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangNhap</servlet-name>
        <servlet-class>Controller.DangNhap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThongTinTaiKhoan</servlet-name>
        <servlet-class>Controller.ThongTinTaiKhoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangXuat</servlet-name>
        <servlet-class>Controller.DangXuat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaoTaiKhoan</servlet-name>
        <servlet-class>Controller.TaoTaiKhoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanhToan</servlet-name>
        <servlet-class>Controller.ThanhToan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemGioHang</servlet-name>
        <servlet-class>Controller.ThemGioHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaSanPham</servlet-name>
        <servlet-class>Controller.XoaSanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>Controller.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>Controller.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>Controller.LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemSanPham</servlet-name>
        <servlet-class>Controller.ThemSanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhSachSanPham</servlet-name>
        <servlet-class>Controller.DanhSachSanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChinhSuaSanPham</servlet-name>
        <servlet-class>Controller.ChinhSuaSanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuaSanPham</servlet-name>
        <servlet-class>Controller.SuaSanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaMaSanPham</servlet-name>
        <servlet-class>Controller.XoaMaSanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhSachDanhMuc</servlet-name>
        <servlet-class>Controller.DanhSachDanhMuc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemDanhMuc</servlet-name>
        <servlet-class>Controller.ThemDanhMuc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaDanhMuc</servlet-name>
        <servlet-class>Controller.XoaDanhMuc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuaDanhMuc</servlet-name>
        <servlet-class>Controller.SuaDanhMuc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemBinhLuan</servlet-name>
        <servlet-class>Controller.ThemBinhLuan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhSachBinhLuan</servlet-name>
        <servlet-class>Controller.DanhSachBinhLuan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhSachKhachHang</servlet-name>
        <servlet-class>Controller.DanhSachKhachHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaBinhLuan</servlet-name>
        <servlet-class>Controller.XoaBinhLuan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaKhachHang</servlet-name>
        <servlet-class>Controller.XoaKhachHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangXuatAdmin</servlet-name>
        <servlet-class>Controller.DangXuatAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoiThongTinTaiKhoan</servlet-name>
        <servlet-class>Controller.DoiThongTinTaiKhoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemDonHang</servlet-name>
        <servlet-class>Controller.ThemDonHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NganHang</servlet-name>
        <servlet-class>Controller.NganHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrangThanhToan</servlet-name>
        <servlet-class>Controller.TrangThanhToan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XemChiTietDonHang</servlet-name>
        <servlet-class>Controller.XemChiTietDonHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HuyDonHang</servlet-name>
        <servlet-class>Controller.HuyDonHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanhToanV2</servlet-name>
        <servlet-class>Controller.ThanhToanV2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapNhapDiaChiTaiKhoan</servlet-name>
        <servlet-class>Controller.CapNhapDiaChiTaiKhoan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrangChu</servlet-name>
        <url-pattern>/TrangChu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SanPham</servlet-name>
        <url-pattern>/SanPham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpLoadFile</servlet-name>
        <url-pattern>/UpLoadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChiTietSanPham</servlet-name>
        <url-pattern>/ChiTietSanPham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XemDanhMuc</servlet-name>
        <url-pattern>/XemDanhMuc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XemNhaSanXuat</servlet-name>
        <url-pattern>/XemNhaSanXuat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XemGiaTien</servlet-name>
        <url-pattern>/XemGiaTien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimKiem</servlet-name>
        <url-pattern>/TimKiem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhanTrang</servlet-name>
        <url-pattern>/PhanTrang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhanTrangDanhMuc</servlet-name>
        <url-pattern>/PhanTrangDanhMuc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhanTrangNhaSanXuat</servlet-name>
        <url-pattern>/PhanTrangNhaSanXuat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhanTrangGiaTien</servlet-name>
        <url-pattern>/PhanTrangGiaTien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangNhap</servlet-name>
        <url-pattern>/DangNhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThongTinTaiKhoan</servlet-name>
        <url-pattern>/ThongTinTaiKhoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangXuat</servlet-name>
        <url-pattern>/DangXuat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaoTaiKhoan</servlet-name>
        <url-pattern>/TaoTaiKhoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanhToan</servlet-name>
        <url-pattern>/ThanhToan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemGioHang</servlet-name>
        <url-pattern>/ThemGioHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaSanPham</servlet-name>
        <url-pattern>/XoaSanPham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemSanPham</servlet-name>
        <url-pattern>/ThemSanPham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhSachSanPham</servlet-name>
        <url-pattern>/DanhSachSanPham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChinhSuaSanPham</servlet-name>
        <url-pattern>/ChinhSuaSanPham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuaSanPham</servlet-name>
        <url-pattern>/SuaSanPham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaMaSanPham</servlet-name>
        <url-pattern>/XoaMaSanPham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhSachDanhMuc</servlet-name>
        <url-pattern>/DanhSachDanhMuc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemDanhMuc</servlet-name>
        <url-pattern>/ThemDanhMuc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaDanhMuc</servlet-name>
        <url-pattern>/XoaDanhMuc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuaDanhMuc</servlet-name>
        <url-pattern>/SuaDanhMuc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemBinhLuan</servlet-name>
        <url-pattern>/ThemBinhLuan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhSachBinhLuan</servlet-name>
        <url-pattern>/DanhSachBinhLuan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhSachKhachHang</servlet-name>
        <url-pattern>/DanhSachKhachHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaBinhLuan</servlet-name>
        <url-pattern>/XoaBinhLuan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaKhachHang</servlet-name>
        <url-pattern>/XoaKhachHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangXuatAdmin</servlet-name>
        <url-pattern>/DangXuatAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoiThongTinTaiKhoan</servlet-name>
        <url-pattern>/DoiThongTinTaiKhoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemDonHang</servlet-name>
        <url-pattern>/ThemDonHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NganHang</servlet-name>
        <url-pattern>/NganHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrangThanhToan</servlet-name>
        <url-pattern>/TrangThanhToan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XemChiTietDonHang</servlet-name>
        <url-pattern>/XemChiTietDonHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HuyDonHang</servlet-name>
        <url-pattern>/HuyDonHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanhToanV2</servlet-name>
        <url-pattern>/ThanhToanV2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapNhapDiaChiTaiKhoan</servlet-name>
        <url-pattern>/CapNhapDiaChiTaiKhoan</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
